:root {
    --bg: black;
    --primary-color: palegreen;
}
* {
    background-color: var(--bg);
    color: var(--primary-color);
}
.header {
    height: 200px;
    width: 100%;
    border: 1px solid var(--primary-color);
}
.menu {
    width: 100%;
    border: 1px solid var(--primary-color);
}
