:root {
    --bg: black;
    --primary-color: palegreen;
}

* {
    background-color: var(--bg);
    color: var(--primary-color);
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    height: 100px;
    width: 100%;
    border: 1px solid var(--primary-color);
    padding: 5px;
    margin: 10px;
}

.menu {
    height: 50;
    width: 100%;
    border: 1px solid var(--primary-color);
    padding: 5px;
    margin: 10px;
}
.menu a {
    margin-right: 10px;
}
.content {
    height: 50;
    width: 100%;
    border: 1px solid var(--primary-color);
    padding: 5px;
    margin: 10px;
}
